@charset "UTF-8";

/* ------- Reset all CSS Styles */
@import url("normalize.css");
/* ↑でブラウザ間による違いをなくすCSSを読み込み */

/********************
共通
******************************/
* {
  box-sizing: border-box;
}
/* https://developer.mozilla.org/ja/docs/Web/CSS/box-sizing */

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  background-image: url(../images/img-background010.jpg);
  /* imagesフォルダの中のものを指定 */
  background-position: center;
  /* centerだけでも◎ */
  background-repeat: no-repeat;
  /* 画像を繰り返させない */
  background-attachment: fixed;
  /* 重要！背景が固定される */
  background-size: cover;
  /* 横幅ぴったりに画像を設定、縦幅は指定なし */
  background-color: #151a55;
}

/* 共通　大枠 */

/* 共通　ヘッダー・メインナビゲーション */

.header {
  width: 100%;
  background-color: #0b0429;
}
.header-wrapper {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-logo {
  width: 50%;
}
.header-logo h1 {
  margin: 10px 0 0 0;
}
.header-logo img {
  margin-left: 20px;
  width: 180px;
  height: auto;
}
.navigation-main {
  width: 50%;
  margin-right: 20px;
}
.navigation-main ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.navigation-main ul li {
  font-size: 18px;
  font-weight: bold;
}
.navigation-main ul li a {
  text-decoration: none;
  color: #740001;
  transition: 0.s;
  /* カーソルを載せた時に色が変わる速度 */
}
.navigation-main ul li a:hover {
  color: #ffd700;
}

/* 共通　フッター */
.footer {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  /* jccでショートカット */
  flex-wrap: wrap;
  background-color: rgba(11, 4, 41, 0.6);
}
.footer-navigation {
  width: 100%;
}
.footer-navigation ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.footer-navigation ul li {
  margin: 0 40px;
  font-size: 14px;
  font-weight: bold;
}
.footer-navigation ul li a {
  text-decoration: none;
  color: #740001;
  transition: 0.5s;
}
.footer-navigation ul li a:hover {
  color: #ffd700;
}
.footer-copyright {
  color: #740001;
}

/********************
index.html 
**************************************************/
/* index.html　メインビジュアル */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(11, 4, 41, 0.8);
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffd700;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;
  z-index: 999;
}
.back-to-top:hover {
  opacity: 0.7;
}
.back-to-top img {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}

.main-visual {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-visual img {
  width: 100%;
  display: block;
  /* 空間を空けずに固定 */
}

/* index.html イントロテキスト部分 */
.text-intro {
  width: 100%;
  padding: 100px;
  margin: 40px auto 40px;
  background-color: rgba(11, 4, 41, 0.6);
}
.text-intro h2 {
  color: #eaf5ad;
  text-align:center;

}
.text-intro p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.75;
  color: #d1d6c0;
}
/* index.html スライドエリア */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: rgba(11, 4, 41, 0.6);
  padding: 40px 0;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.slider-track {
  display: flex;
  animation: scroll 40s linear infinite;
}
.slider-item {
  width: 500px;
  flex-shrink: 0;
  margin-right: 10px;
}
.slider-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }100% {
    transform: translateX(-50%);
  }
}
/* index.html バナーエリア */

.feature-area {
  width: 960px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(11, 4, 41, 0.6);
}
.feature-area-section {
  width: 30%;
  padding: 20px;
}
.feature-area-section h2 {
  margin: 5px;
  font-size: 22px;
  text-align: center;
}
.feature-area-section img {
  width: 100%;
}
.feature-area-section a img {
  transition: opacity 0.5s;
}
.feature-area-section a:hover img {
  opacity: 0.6;
  /* 透け感 */
}
.feature-area-section a {
  text-decoration: none;
  color: #740001;
  transition: 0.5s;
}
.feature-area-section a:hover {
  color: #ffd700;
}



/********************
その他のページ
**************************************************/
/* 共通 */

/* STORY page */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(11, 4, 41, 0.8);
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffd700;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;
  z-index: 999;
}
.back-to-top:hover {
  opacity: 0.7;
}
.back-to-top img {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}

.main-visual-slideshow {
  position:relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  margin-bottom: 40px;
}
.main-visual-slideshow img {
  position: absolute;
  width: 100%;
  height:100%;
  object-fit: cover;
  opacity: 0;
  animation: slideshowFade 9s infinite ease-in-out;
}
.main-visual-slideshow img:nth-child(1) {
  animation-delay: 0s;
}
.main-visual-slideshow img:nth-child(2) {
  animation-delay: 3s;
}
.main-visual-slideshow img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes slideshowFade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}
.content-story-wrapper {
  width: 960px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(11, 4, 41, 0.6);
}
.content-story-wrapper h2 {
  
    font-size: 58px;
    font-weight: bold;
    color: #740001;
    text-align:center;
    margin-bottom:20px; ;

}
.story-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.story-block.reverse {
  flex-direction: row-reverse
}  

.content-text-story {
  width: 50%;
  flex: 1;
  color: #fff;
}
.content-text-story p {
  margin-top: 40px;
  font-size: 16px;
  /* ｆｚでショートカット */
  color: #d1d6c0;
  line-height: 1.75;
  text-align: justify;
}
.content-img-story {
  width: 50%;
  margin-top: 140px;
  flex: 1;
}
.content-img-story img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
.video-container {
  position: relative;
  width: 80%; /*　画面幅80％に設定　*/
  min-width: 640px; /*　最大サイズ　*/
  aspect-ratio:  16 / 9; /*　16:9の比率　*/
  margin: 40px auto; /*　上下に余白を空けて中央に配置　*/
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  border-radius: 12px; /*　角の丸み　*/
  overflow: hidden; /*　iframeがはみ出さないように　*/
}
.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* CHARACTER page */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(11, 4, 41, 0.8);
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffd700;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;
  z-index: 999;
}
.back-to-top:hover {
  opacity: 0.7;
}
.back-to-top img {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}
.main-visual-slideshow {
  position:relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  margin-bottom: 40px;
}
.main-visual-slideshow img {
  position: absolute;
  width: 100%;
  height:100%;
  object-fit: cover;
  opacity: 0;
  animation: slideshowFade 9s infinite ease-in-out;
}
.main-visual-slideshow img:nth-child(1) {
  animation-delay: 0s;
}
.main-visual-slideshow img:nth-child(2) {
  animation-delay: 3s;
}
.main-visual-slideshow img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes slideshowFade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}
.content-character-wrapper {
  width: 1200px;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(11, 4, 41, 0.6);
}
.characters-grid {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列に分割 */
  gap: 40px;
  background-color: rgba(11, 4, 41, 0.6); /* お好みで */
  padding: 40px;
  align-items: stretch;
}
.content-character-wrapper h2 {
  
    font-size: 58px;
    font-weight: bold;
    color: #740001;
    text-align:center;
    margin-bottom:20px; ;

}

.content-text-character {
  width: 100%;
  margin-top: 10px;
  flex-grow: 1; /* ← 追加 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* ← 上詰め */
}
.character-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* align-items: center; */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 20px;
}
.character-card img {
  width: 100%;
  border-radius: 8px;
  margin-top: auto;
}
.content-text-title-character {
  margin: 0;
  font-size: 42px;
  font-weight: bold;
  color: #ffd700;
  line-height: 1.2;
}
.content-text-secondtitle-character {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #ffd700;
}
.content-text-body-character {
  display: none; /* ← 最初は非表示にする */
  margin-top: auto;
  font-size: 16px;
  color: #ffd700;
  line-height: 1.75;
  text-align: justify;
  padding: 0 10px;
}

.character-card.active .content-text-body-character {
  display: block; /* activeクラスが付いたら表示 */
}

.content-img-character {
  width: 100%;
  /* 右側characterを　横幅50 */
}
.content-img-character img {
  padding: 0;
  width: 100%;
  border-radius: 8px;
}
.toggle-button {
  font-size: 28px;
  color: #ffd700;
  cursor: pointer;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  text-align: center;
  display: inline-block;
}
.character-card.active .toggle-button::after {
  content: '－';
}
.character-card:not(.active) .toggle-button::after {
  content: '＋';
}

.character-title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* filmography CAST page */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(11, 4, 41, 0.8);
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffd700;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;
  z-index: 999;
}
.back-to-top:hover {
  opacity: 0.7;
}
.back-to-top img {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}
.main-visual-slideshow {
  position:relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  margin-bottom: 40px;
}
.main-visual-slideshow img {
  position: absolute;
  width: 100%;
  height:100%;
  object-fit: cover;
  opacity: 0;
  animation: slideshowFade 9s infinite ease-in-out;
}
.main-visual-slideshow img:nth-child(1) {
  animation-delay: 0s;
}
.main-visual-slideshow img:nth-child(2) {
  animation-delay: 3s;
}
.main-visual-slideshow img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes slideshowFade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}
.filmography-card {
  width: 960px;
  margin: 0 auto 40px;
  background-color: rgba(11, 4, 41, 0.6);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: pointer;
}

.filmography-header {
  padding: 20px;
  text-align: center;
}
.filmography-header img {
  width: 100%;
  border-radius: 8px;
}
.filmography-header .content-text-title-filmography {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #ffd700;
}

.filmography-description {
  display: none;
  padding: 20px;
}
.filmography-card.active .filmography-description {
  display: block;
}
.filmography-description .content-text-secondtitle-filmography {
  font-size: 18px;
  line-height: 1.75;
  color: #ffd700;
  text-align: justify;
}
.toggle-icon {
  margin-left: 10px;
  font-size: 16px;
  transition: transform 0.3s ease;
  display: inline-block;
}

/* 開いた時に▼を▲に回転させる */
.filmography-card.active .toggle-icon {
  transform: rotate(180deg);
}